header {
  margin-bottom: 20px;
  text-align: center;
}

header input {
  margin: 0px;
  width: 40px;
}

header input:hover {
  color: #f0ad4e;
}

body {
  -webkit-app-region: drag;
}

footer {
  -webkit-app-region: drag;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: grey;
  padding: 10px;
}

input, a, #messages_zone {
  -webkit-app-region: no-drag;
}

.msg-username {
  color: orange;
  font-weight: bold;
}

#copyright {
  margin-top: 20px;
}

#messages_zone {
  margin-top: 20px;
  height: 185px;
  overflow: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}
