header {
  margin-bottom: 20px;
  text-align: center;
}

header input {
  margin: 0px;
  width: 40px;
}

header input:hover {
  color: #f0ad4e;
}

body {
  -webkit-app-region: drag;
}

footer {
  text-align: center;
  margin-top: 20px;
}

input {
  -webkit-app-region: no-drag;
}

a {
  -webkit-app-region: no-drag;
}

#copyright {
  margin-top: 20px;
}

#messages_zone {
  margin-top: 20px;
}
