<!-- views/commons/header.ejs -->

<div class="container">
  <input type="button" id="close-window-btn" class="close" value="x" />
  <input type="button" id="min-window-btn" class="close" value="-" />
  <br/>
  <div class="col-sm-6 col-sm-offset-3">
    <h1>SAM IRC</h1>
  </div>
</div>
