<!-- /views/pages/chat.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../commons/head %>
  </head>
  <body>

    <header>
      <% include ../commons/header %>
    </header>

    <main>
      <div>
        <p>Gratz, you're now on the main page</p>
      </div>
    </main>

    <footer>
        <% include ../commons/footer %>
    </footer>

  </body>
</html>
