<!-- /views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../commons/head %>
  </head>
  <body>

    <header>
      <% include ../commons/header %>
    </header>

    <main>
      <div class="container">
        
        <div class="col-sm-6 col-sm-offset-3">
          <% if (message != '' && !error) { %>
              <div class="alert alert-success">
                <strong>Success!</strong> <%=message%>
              </div>
          <% } %>
          <% if (message != '' && error) { %>
              <div class="alert alert-danger">
                <strong>Error!</strong> <%=message%>
              </div>
          <% } %>

          <form method="post" action="/signin" id="form_login">
            <div class="form-group">
              <label for="username">Login</label>
              <input type="text" class="form-control" name="username"/>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password"/>
            </div>
            <input type="button"
                id="button_signin"
                class="btn btn-warning btn-lgbtn btn-warning btn-lg"
                value="Sign In"/>
            <input type="button"
                id="button_signup"
                class="btn btn-warning btn-lgbtn btn-warning btn-lg"
                value="Sign up"/>
          </form>
        </div>
      </div>
    </main>

    <footer class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <% include ../commons/footer %>
      </div>
    </footer>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>

  </body>
</html>
