<!-- /views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../commons/head %>
  </head>
  <body>

    <header>
      <% include ../commons/header %>
    </header>

    <main>
      <div>
        <form method="post" action="">
          <p>
            <label for="name_input">Login: </label>
            <input type="text" name="name_input" id="name_input"/> <br/>
            <label for="pass_input">Password: </label>
            <input type="password" name="pass_input" id="pass_input"/> <br />
            <input type="button" value="Register" />
            <input type="button" value="Connect"/>
          </p>
        </form>
      </div>
    </main>

    <footer>
        <% include ../commons/footer %>
    </footer>

  </body>
</html>
